
.header {
    grid-area: head;
    display:flex;
    background: lightgrey;
}

.logo {
    grid-area: head;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto fit-content;
   
}

nav {
    grid-area: nav;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    font-size: 1em; 
    
}

.menu {
    margin-right: 60px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.main {
    grid-area: main;
    
}

img {
    width: 100%;
    height: 600px;
}

.main2 {
    grid-area: main2;
    background: lightgrey;
   
}



.footer {
    grid-area: footer;
    background: black;
    display:flex;
    
}

.copyright {
    display: flex;
    color: white;
    align-items: center;
    
}

.logosocial {
    display: flex;
    
    height: 50px;
    width: 50px;
    
   
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 100px 600px 400px 150px;
    grid-template-areas: 
        "head head head"
        "nav nav nav"
        "main main main"
        "main2 main2 main2"
        "footer footer footer";
       
}