

#profile-pic {
    width:4em;
    height: 4em;
    position: center;
    margin: 5% auto;
    grid-column: 2/3;
    border: solid 2px black;



}
h1 {
    text-align: center;
    font-style: oblique;
}

h2 {
    text-align: center;
    border-bottom: solid 2px black;
    margin: 5%;
}

h3 {
    margin: 5%;
}

p{
    margin: 5%;
}