/*site background image*/
body {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}

html {
  max-width: 100%;
}
/*main body container/grid setup*/
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px repeat(3, 1fr) 600px;
  grid-template-areas:
    "header header header"
    "aside1 . aside"
    ". main ."
    ". . calc1"
    "nav . ."
    ". . footer .";
}

header {
  grid-area: header;
  background: none;
  height: 50px;
}
/*Greeting*/
main {
  grid-area: main;
  font-family: "Roboto", sans-serif;
  color: black;
  margin-top: 100px;
}
/*Clock*/
aside {
  grid-area: aside;
  display: flex;
}
/*GeoLocation*/
.aside1 {
  grid-area: aside1;
  background-color: transparent;
}
/*Calculator*/
.calc1 {
  grid-area: right1;
}
/*ToDoList*/
nav {
  grid-area: nav;
  display: flex;
}
/*footer styles*/
footer {
  grid-area: footer;
  margin-bottom: 50px;
  text-align: center;
}

/*GeoLocation styles*/
.location {
  border: 1px solid black;
  margin-top: 10px;
  height: 200px;
  background-color: ghostwhite;
  text-align: center;
  margin-left: 10px;
}
/*Clock styles*/
.clock {
  color: whitesmoke;
  margin-top: 10px;
  background: none;
  border: black 2px;
  justify-content: center;
  align-content: flex-start;
}

p {
  font-size: 2em;
}
h1 {
  color: ghostwhite;
}

/*To do list styles */

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text 
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  */

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: none;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* calculator styles */

/*.calc1 {
  background: url(http://www.inkspilldesign.com/demo/wood-tile-background.jpg);
  background-color: #424242;
  font-family: Tahoma;
}

.calccontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#calccontainer {
  width: 200px;
  padding: 8px 8px 20px 8px;
  margin: 20px auto;
  background-color: #ababab;
  border-radius: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.6),
    inset -100px 0px 100px rgba(255, 255, 255, 0.5);
}

#display {
  display: block;
  margin: 15px auto;
  height: 42px;
  width: 174px;
  padding: 0 10px;
  border-radius: 4px;
  border-top: 2px solid #c1c1c1;
  border-right: 2px solid #c1c1c1;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  background-color: #fff;
  box-shadow: inset 0px 0px 10px #030303,
    inset 0px -20px 1px rgba(150, 150, 150, 0.2);
  font-size: 28px;
  color: #666;
  text-align: right;
  font-weight: 400;
}

.button {
  display: inline-block;
  margin: 2px;
  width: 42px;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.mathButtons {
  margin: 2px 2px 6px 2px;
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #434343;
  border-top: 2px solid #c1c1c1;
  border-right: 2px solid #c1c1c1;
  border-bottom: 2px solid #181818;
  border-left: 2px solid #181818;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2e2e2e;
}

.digits {
  color: #181818;
  text-shadow: 1px 1px 0px #fff;
  background-color: #ebebeb;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #dcdcdc;
}

.digits:hover,
.mathButtons:hover,
#clearButton:hover {
  background-color: #ffba75;
  box-shadow: 0px 0px 2px #ffba75, inset 0px -20px 1px #ff8000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #ae5700;
  border-left: 2px solid #ae5700;
}

#clearButton {
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #d20000;
  border-top: 2px solid #ff8484;
  border-right: 2px solid #ff8484;
  border-bottom: 2px solid #800000;
  border-left: 2px solid #800000;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #b00000;
}*/

@media (min-width: 320px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside1"
      "aside"
      "main"
      "calc1"
      "nav"
      "footer";
  }
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "aside1 aside"
      ". main"
      "calc1 ."
      ". nav"
      ". footer";
  }
}
@media (min-width: 976px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px repeat(4, 1fr);
    grid-template-areas:
      "header header header"
      "aside1 . aside"
      ". main ."
      ". . calc1"
      "nav . ."
      ". . footer";
  }
}
/*game styles*/
#board {
  display: flex;
}
.column {
  width: 50px;
  height: 300px;
  background-color: darkgrey;
  border-right: 1px solid ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.piece {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
