.html {
    min-height:100%;
}

.body {
    min-height:100%;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 600px 600px 200px;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
    "header"
    "main"
    "main1"
    "footer";
}

header {
    grid-template-areas:header;
    height:200px;
    background-color:grey;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: ghostwhite;

}

main {
    grid-template-areas:main;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
    "box1 box2 box3";
    
}

main1 {
    grid-template-areas:main1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
    "box4 box5 box6";
}

footer {
    grid-template-areas:footer;
    height:200px;
    background-color: grey;
}

.box1 {
    grid-area:box1;
    background-color:orange;
}

.box2 {
    grid-area:box2;
    background-color:blue;
}

.box3 {
    grid-area:box3;
    background-color:red;
}

.box4 {
    grid-area:box4;
    background-color:yellow;
}

.box5 {
    grid-area:box5;
    background-color:green;
}

.box6 {
    grid-area:box6;
    background-color:aqua;
}