.html {
  min-height: 100%;
}

.body {
  min-height: 100%;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 0px;
  row-gap: 0px;
  grid-template-areas:
    "header header header header header"
    ". box1 box2 box3 ."
    ". box4 box5 box6 ."
    ". box7 box8 box9 ."
    ". . nav nav ."
    "footer footer footer footer footer";
}
header {
  grid-area: header;
}

#box1 {
  grid-area: box1;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
#box2 {
  grid-area: box2;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
#box3 {
  grid-area: box3;
  border-bottom: 4px solid black;
}
#box4 {
  grid-area: box4;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
#box5 {
  grid-area: box5;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
#box6 {
  grid-area: box6;
  border-bottom: 4px solid black;
}
#box7 {
  grid-area: box7;
  border-right: 4px solid black;
}
#box8 {
  grid-area: box8;
  border-right: 4px solid black;
}
#box9 {
  grid-area: box9;
}

.square {
  background-color: slategrey;
}

#Obutton {
  width: 100px;
  font-size: 2em;
  color: ghostwhite;
  background-color: black;
}
#Xbutton {
  width: 100px;
  font-size: 2em;
  color: ghostwhite;
  background-color: black;
}
nav {
  grid-area: nav;
}
.nav1 {
  grid-area: nav1;
}
footer {
  grid-area: footer;
}
